.top {
    border: 5px solid;
    border-color: black;
    margin: 5px;
    border-radius: 10px;
}

nav > a {
    padding: 5px;
    text-decoration: none;
    color: black;
    display: inline-flex;
    margin-left: 5%;
    margin-right: 5%;
}
nav > a.active {
    background-color: black;
    color: red;
    border-radius: 20px;
}

nav {
    text-align: center;
}

.container {
    position: relative;
}