.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
}

.historia {
    color: black;
    font-family: monospace;
    font-size: 150%;
    text-align: left;
    line-height: 30px;
    margin: 6% 15% 15%;
    position: relative;
}

img {
    height: 80%;
    position: absolute;
    display: block;
    margin-top: 4%;
    margin-left: 2%;
}