<div class="contenedor">
    <img src="assets/images/historiaFondo.png" alt="Logo">

    <div class="historia">
        Yo-Diseños es un proyecto iniciado en el año 2015 aproximadamente nacido directamente de la necesidad
        de poder hacer algo con el torrente de ideas que una mente puede llegar a generar.<br>
        Comenzó comercialmente como un taller de Serigrafía, diseño, plotteo e impresión pero con 
        el tiempo fue mutando hasta llegar a ser un taller de  Diseño Integral e impresión 3D.<br>
        El concepto es simple, buscamos materializar las ideas y divertirnos durante el proceso...
    </div>
</div>